/* common styel */

.lato-font {
  font-family: "Lato", sans-serif;
}

.dark01{
  color: #272727;
}
.dark01_sub{
  background-color: #111010;
}
.dark02{
  color: rgba(39, 39, 39, 0.6);
}
.bg01{
  background-color: #E55473;
}
.bg01_sub{
  background-color: rgba(229, 84, 115, 0.05);
}
.bg02{
  background-color: rgba(167, 33, 98, 0.15);
}
.bg03{
  background-color: rgba(5, 151, 160, 0.15);
}
.bg04{
  background-color: rgba(71, 125, 17, 0.15);
}
.bg05{
  background-color: rgba(39, 39, 39, 0.05);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p{
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  line-height: 30px;
}

.btn{
  background-color: #E55473;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  padding: 20px 45px;
  align-self: flex-start;
}
/* =========================== */

/* header styels */
.header-container{
  display: flex;
  max-width: 1440px;
  height: 800px;
  margin: 0 auto;
  padding: 0 30px;
  gap: 20px;
}
.header-content{
  max-width: 700px;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: auto 0;
}
.header-title{
  font-size: 5rem;
  font-weight: 900;
}
.header-image{
  height: 100%;
  overflow: hidden;
  flex: 1;
  display: flex;
  align-items: flex-end;
}
.header-image img{
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  object-fit: contain;
  
}


/* small size screen media query */

@media screen and (max-width:576px){
  .header-container{
    flex-direction: column;
    text-align: center;
    height: 100%;
    gap: 0;
  }
  .header-content{
    margin-top: 20px;
    width: 100%;
  }
  .header-title{
    font-size: 50px;
    padding: 0 30px;
  }
  .header-image{
    order: -1;
    width: 100%;
  }
  .header-image img{
    width: 80%;
    height: auto;
    margin: 0 auto;
  }
  .btn{
    align-self: center;
  }
}

@media screen and (min-width: 576px) and (max-width: 992px){
  .header-container{
    flex-direction: column;
    text-align: center;
    height: 100%;
    gap: 0;
  }
  .header-content{
    margin-top: 20px;
    width: 100%;
    margin: 0 auto;
  }
  .header-title{
    font-size: 70px;
    padding: 0 30px;
  }
  .header-image{
    order: -1;
    width: 50%;
    margin: 0 auto;
  }
  .header-image img{
    width: 100%;
    height: auto;
    margin: 20px auto 0;
  }
  .btn{
    align-self: center;
  }

}
