/* common styel */

.lato-font {
  font-family: "Lato", sans-serif;
}

.dark01{
  color: #272727;
}
.dark01_sub{
  background-color: #111010;
}
.dark02{
  color: rgba(39, 39, 39, 0.6);
}
.pink{
  color: #E55473;
}
.bg01{
  background-color: #E55473;
}
.bg01_sub{
  background-color: rgba(229, 84, 115, 0.05);
}
.bg02{
  background-color: rgba(167, 33, 98, 0.15);
}
.bg03{
  background-color: rgba(5, 151, 160, 0.15);
}
.bg04{
  background-color: rgba(71, 125, 17, 0.15);
}
.bg05{
  background-color: rgba(39, 39, 39, 0.05);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p{
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  line-height: 30px;
}

.btn{
  background-color: #E55473;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  padding: 20px 45px;
  align-self: flex-start;
}
section, 
.header-container{
  max-width: 1440px;
  width: 75%;
  margin: 0 auto;
}
.section-title{
  font-size: 40px;
  font-weight: 900;
}
/* =========================== */

/* header styels */
.header-container{
  display: flex;
  height: 800px;
  margin: 0 auto;
  padding: 30px 30px 0 30px;
  gap: 20px;
}
.header-content{
  max-width: 700px;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: auto 0;
}
.header-title{
  font-size: 5rem;
  font-weight: 900;
}
.header-image{
  height: 100%;
  overflow: hidden;
  flex: 1;
  display: flex;
  align-items: flex-end;
}
.header-image img{
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  object-fit: contain;
  
}

/* featured flower section */

.featured-flowers{
 display: flex;
 flex-direction: column;
 align-items: center;
 text-align: center;
 margin-top: 180px;
}
.flower-container{
  display: flex;
  gap: 24px;
  margin-top: 48px;
}
.flower-card{
  flex: 1;
 
}
.flower-image{
  width: 100%;
  height:300px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden;
  
}

.flower-image img{
  width: 60%;

}
#lightpink{
  background-image: url("../Assetes/Rectangle\ 3.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
}
#lightblue{
  background-image: url("../Assetes/Rectangle\ 1.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
}
#lightgreen{
  background-image: url("../Assetes/Rectangle\ 2.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
}

.flower-card a{
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
  color: #272727;
  margin-top: 32px;
  display: block;
}
.featured-desc{
  max-width: 600px;
  width: 90%;
  margin: 24px auto 0;
}

/* support section style */
.support{
  padding: 85px;
  margin-top: 128px;
}
.support-container{
  display: flex;
  gap: 100px;
  align-items: center;
  justify-content: center;
}
.support-card{
  text-align: center;
}
.support-card img{
  width: 88px;
}


/* hot deal section */
.hot-deal-container{
  margin: 120px auto 0;
  padding: 100px;
  display: flex;
  gap: 150px;
}
.hotdeal-content{
  max-width: 550px;
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
}

.hotdeal-content .btn{
  margin: 0 auto;
}
.hotdeal-image img{
  width: 100%;
  max-width: 318px;
}

/* instagram section */
.instagram{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 128px;
  gap: 32px;
}
.instagram-content{
 max-width: 600px;
 width: 95%;
}
.image-container{
  max-width: 1440px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}
.image-container img{
  width: 100%;
}


/* latest-deals styels */

.latest-deals{
  background-image: url("../Assetes/Rectangle\ 9.png");
  background-position: center center;
  background-size: cover;
  margin-top: 260px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  text-align: center;
  padding: 120px;
}
.email{
  display: flex;
  width: 60%;
  max-width: 866px;
  gap: 10px;
}

.email input{
  border: none;
  padding: 22px;
  color: #272727;
  border-radius: 8px;
  max-width: 700px;
  width: 85%;
}

/* footer section style */

footer{
  padding: 128px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  text-align: center;
}

footer .section-title{
  color: #fff;
}

footer .section-desc{
  color: #fff;
  width: 70%;
  max-width: 600px;
}

footer .copyright{
  color: #272727;
}

/* small size screen media query */

@media screen and (max-width:576px){
  section, .header-container{
    width: 100%;
  }
  .header-container{
    flex-direction: column;
    text-align: center;
    height: 100%;
    gap: 0;
  
  }
  .header-content{
    margin-top: 20px;
    width: 100%;
  }
  .header-title{
    font-size: 30px;
    padding: 0 30px;
  }
  .header-image{
    order: -1;
    width: 100%;
  }
  .header-image img{
    width: 80%;
    height: auto;
    margin: 0 auto;
  }
  .btn{
    align-self: center;
    margin-bottom: 30px;
  }
 
  .flower-container{
    flex-direction: column;
  }
  .flower-image img{
  width: 50%;

}

.support-container{
  flex-direction: column;
}
.hot-deal-container{
  flex-direction: column;
  align-items: center;
  padding: 100px 20px;
}
.hotdeal-image{
  order: -1;
}

.image-container{
  padding: 30px;
  grid-template-columns: 1fr;
}
 .latest-deals{
    padding: 120px 20px;
  }
.email{
  flex-direction: column;
  align-items: center;
  width: 100%;
  
}
.email .btn{
  margin: 0 auto;
}
footer{
  padding: 80px 20px;
}
footer .section-desc{
  width: 95%;
}
}
/* ======================= */



@media screen and (min-width: 576px) and (max-width: 992px){
  .header-container{
    flex-direction: column;
    text-align: center;
    height: 100%;
    gap: 0;
  }
  .header-content{
    margin-top: 20px;
    width: 100%;
    margin: 0 auto;
  }
  .header-title{
    font-size: 70px;
    padding: 0 30px;
  }
  .header-image{
    order: -1;
    width: 50%;
    margin: 0 auto;
  }
  .header-image img{
    width: 100%;
    height: auto;
    margin: 20px auto 0;
  }
  .btn{
    align-self: center;
    margin-bottom: 30px;
  }
.support-container{
  flex-direction: column;
}
.hot-deal-container{
  flex-direction: column;
  align-items: center;
  padding: 100px 20px;
}
.hotdeal-image{
  order: -1;
}
.image-container{
  padding: 30px;
  grid-template-columns: repeat(2, 1fr);
}
.latest-deals{
  padding: 120px 20px;
}
.email{
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.email .btn{
  margin: 0 auto;
}
}

@media screen and (min-width: 992px) and (max-width: 1200px){
   section, .header-container{
    max-width: 900px;
    width: 100%;
  }
   .header-title{
    font-size: 50px;
  }
  .header-content{
  max-width: 450px;
}
.hot-deal-container{
  flex-direction: column;
  align-items: center;
  padding: 100px 20px;
}
.hotdeal-image{
  order: -1;
}
.email{
  flex-direction: column;
  align-items: center;
  width: 100%;
  
}
.email .btn{
  margin: 0 auto;
}
}

@media screen and (min-width: 1200px) and (max-width: 1440px){
   section, .header-container{
    max-width: 1080px;
    width: 100%;
  }
}
